.frost{
   background: rgba(245, 245, 245, 0.9);
   height: 88px;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   -webkit-filter:blur(10px);
   filter: url(#blur-effect-1);
}

.masthead {
    z-index:1100;
}

body {
    background: url("2015070812251641.jpg") no-repeat center center fixed;
    background-size: cover;
}
